body {
    background-color: rgb(51, 0, 111);
    width: 800px;
    padding-top: 5px;
}

#title {
    text-align: center;
}

.panel {
    margin: 5px auto;
    background-color: darkgray;
    border-radius: 5px;
}

.well {
    width: 100%;
    padding: 0.5%;
}

.well-sm {
    margin: 5px auto;
    padding: 5px;
}

div {
    text-align: center;
}

span.label {
    font-size: 1.1em;
}


/* Parent <div> of LED Buttons */

.led_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0px;
    height: 43px;
}

button {
    width: 160%;
}

#tabs {
    font-size: 0.8em;
    height: 98%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}

#gpio-cell {
    width: 16%;
}

#params-cell {
    width: 84%;
}

table {
    background-color: lightgray;
    border-radius: 3px;
    font-size: 1em;
    margin: 5px auto;
}

table#con {
    height: 240px;
    width: 100%;
}

tbody {
    margin-top: 1%;
    margin-bottom: 1%;
}

th,
td {
    text-align: left;
}